{% extends 'helpdesk/base.html' %}
{% block title %}Restore ticket{% endblock %}
{% block content %}

    {% for ticket in object_list %}
        <div class="ticket-list" id="{{ ticket.get_status_display|lower }}"
             ondblclick="document.location.href = 'http://127.0.0.1:8000/ticket/' + {{ ticket.id }}">
            <h3>{{ ticket.title }}</h3>
            <p class="ticket-status" id="status-{{ ticket.get_status_display|lower }}">{{ ticket.get_status_display }}</p>
            <div class="ticket-item">
                <p class="ticket-item">Author: {{ ticket.user.get_full_name }}</p>
                <p class="ticket-item">Creation date: {{ ticket.created|date:'d-M-Y H:i' }}</p>
            </div>
        </div>
    {% endfor %}

{% endblock %}
