{% extends 'helpdesk/base.html' %}
{% load django_bootstrap5 %}
{% block title %}Registration{% endblock %}
{% block content %}
<div class="register-form">
    <form action="" method="post">
        <h2>Registration</h2>
        {% csrf_token %}
        {% bootstrap_form form layout='vertical'%}
        {% bootstrap_form_errors form %}
        {% bootstrap_button "Sign up" button_type="submit" %}
    </form>
        <p>
            <a class="link-dark" href="{% url 'login' %}">Sign in</a>
        </p>
</div>
{% endblock %}
