{% load django_bootstrap5 %}
{% load static %}
<div class="side-bar">
    <img src="{% static 'helpdesk/img/helpdesk_icon.png' %}" alt="helpdesk_icon">
    <h3>HelpDesk</h3>
    {% if user.is_authenticated %}
    <ul>
        <li>
            <a href="{% url 'home' %}">Home</a>
        </li>
        {% if not user.is_staff %}
            <li>
                <a href="{% url 'add_ticket' %}">Add new ticket</a>
            </li>
        {% elif user.is_staff %}
            <li>
                <a href="{% url 'restore_ticket' %}">Restored tickets</a>
            </li>
        {% endif %}
        <li>
            <a href="{% url 'logout' %}">Sign out</a>
        </li>
    </ul>
    {% if request.path == '/'%}
        <form action="" method="get">
        {% bootstrap_form filter.form layout='vertical' %}
        {% bootstrap_button "Filter" button_type="submit" button_class="btn-secondary" %}
        </form>
    {% endif %}
    <div class="user-icon">
        <img src="{% static 'helpdesk/img/user_icon.png' %}" alt="user-icon">
        <p>{{ user.get_full_name }}</p>
    </div>
    {% endif %}
</div>
